PORT=5001
MONGOOSE_CONNECTION_STRING=
JWT_SECRET=
JWT_SECRET_VALIDITY=30d
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_REGION=us-east-1
S3_BUCKET=csn-test-bucket
AWS_USE_PATH_STYLE_ENDPOINT=false
UPLOAD_LIMIT=100
